html {

    color: #222;
    font-family: 'News Cycle', sans-serif;
  font-family: 'Major Mono Display', monospace;
	font-size: 1rem;
    line-height: 1.5;
    background-color:#778899;
}
head {
  padding:5rem 0;
  color:#E6E6FA;
}
<meta
content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
name="viewport">

body {
  padding:6rem 0;
  color:#E6E6FA;
}

a: hover{
   text-decoration: none;
   color:#FFF0F5;
}

main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows:min-content;
  grid-gap: 3rem;
  column-gap: 3rem;
  width:80vw;
  margin:0 auto;
}

.grid {
  align-items: center;

}

.intro-block{
  grid-column: 1 / 2;
}

.image{
  grid-column: 2 / 4 ;
  grid-row: 1 / 4;
}


.statement{
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.projects{
  grid-column: 2 / 3;
}


h1,h2,h3,h4,h5{
  font-family: 'Major Mono Display', monospace;
  font-family: 'News Cycle', sans-serif;
  margin-bottom: 1rem;
}
h1 {
  color:#E6E6FA;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size:4rem;
  font-weight:800;
}
h2{
  color:#FFF0F5;
  text-align: left;
  font-family: 'Major Mono Display', monospace;
  font-weight:600;
  color:#FFF0F5;
  text-align: center;

}
h3 {
  font-size:1.5rem;
  font-weight:300;
  font-family: 'News Cycle', sans-serif;
    color:#FFF0F5;

}
h4 {
  font-size:1rem;
}

li {
  font-size: 1.25rem;
font-family: 'News Cycle', sans-serif;
  line-height: 1.5;
  padding: .5rem 0;
    color:#FFF0F5;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom:1rem;
    color:#FFF0F5;
}

.location {
  font-size: 1rem;
 font-family: 'News Cycle', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

figcaption {
  font-size: .875rem;
font-family: 'News Cycle', sans-serif;
  padding-top: 1rem;
}

section {
  font-size: .875rem;
font-family: 'News Cycle', sans-serif;
  padding-top: 1rem;
}
